# PROGRAMA DE CIENCIAS DE LOS DATOS 

## **Big Data**

### **Tarea 1**

Profesor: MSc. Felipe Meza


Alumno: 

  Lester Salazar Viales

# Descripción de Segunda Parte de Tarea #1

La segunda parte consiste en buscar un dataset de su preferencia (de tamaño similar al caso visto en clase) con datos que reflejen algún proceso real, es decir, datos con sentido. 

Debe ejecutar (5) acciones de procesado de las vistas en clase, de manera que extraiga conocimiento (INSIGHTS) de los datos para las (5) acciones, posteriormente debe ejecutar (3) acciones procesado de datos que NO se hayan estudiado en clase y explicar claramente cada uno de los 3 métodos (para qué sirven, cuando se usan etc).

El entregable debe ser el url en github del NOTEBOOK

# Introducción al uso de pyspark

### Pre-requisitos

- findspark
- pyspark
- spark

##### Importación de Librerias

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('data_processing').getOrCreate()

import pyspark.sql.functions as F
from pyspark.sql.types import *

In [2]:
import findspark

# Ruta de Apache Spark para sistema Mac/OS
#findspark.init('/opt/spark')

# Ruta de Apache Spark para sistema Windows/OS
findspark.init('C:\Spark')

from datetime import datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, udf 
from pyspark.sql.types import DateType

Cargar  a un archivo con datos y generar un DataFrame:

In [3]:
# Importación de librería PySpark
import pyspark
from pyspark import SparkFiles

######## CARGADO DE ARCHIVO DESDE INTERNET (GITHUB) ##########
#Ruta en Internet del archivo a cargar:
url = "https://raw.githubusercontent.com/lsalazarv/Tarea-1-BigData/master/CompraBicicletas.csv"
spark.sparkContext.addFile(url)

# Cargado del archivo csv en un DataFrame
df=spark.read.csv(SparkFiles.get("CompraBicicletas.csv"), header=True, inferSchema=True)

######## CARGADO DE ARCHIVO DESDE RUTA EN LA PC: JUPYTER NOTEBOOK ##########
# Si se quiere cargar un archivo desde el dominio local de Jupyter Notebook
#df=spark.read.csv("StudentsPerformance.csv",header=True, inferSchema=True)

### Acciones de Procesado visto en clases.

In [4]:
df.count()

1000

In [5]:
len(df.columns)

13

##### 1) Visualizacon del esquema del DataFrame:

In [6]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Children: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- HomeOwner: string (nullable = true)
 |-- Cars: integer (nullable = true)
 |-- CommuteDistance: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- PurchasedBike: string (nullable = true)

##### 2) Visualizacion del DataFrame:

In [7]:
df.show()

+-----+-------------+------+------+--------+-----------------+-------------+---------+----+---------------+-------+---+-------------+
|   ID|MaritalStatus|Gender|Income|Children|        Education|   Occupation|HomeOwner|Cars|CommuteDistance| Region|Age|PurchasedBike|
+-----+-------------+------+------+--------+-----------------+-------------+---------+----+---------------+-------+---+-------------+
|12496|      Married|Female| 40000|       1|        Bachelors|SkilledManual|      Yes|   0|       0-1Miles| Europe| 42|           No|
|24107|      Married|  Male| 30000|       3|   PartialCollege|     Clerical|      Yes|   1|       0-1Miles| Europe| 43|           No|
|14177|      Married|  Male| 80000|       5|   PartialCollege| Professional|       No|   2|       2-5Miles| Europe| 60|           No|
|24381|       Single|  Male| 70000|       0|        Bachelors| Professional|      Yes|   1|      5-10Miles|Pacific| 41|          Yes|
|25597|       Single|  Male| 30000|       0|        Bachelors|     Clerical|       No|   0|       0-1Miles| Europe| 36|          Yes|
|13507|      Married|Female| 10000|       2|   PartialCollege|       Manual|      Yes|   0|       1-2Miles| Europe| 50|           No|
|27974|       Single|  Male|160000|       2|       HighSchool|   Management|      Yes|   4|       0-1Miles|Pacific| 33|          Yes|
|19364|      Married|  Male| 40000|       1|        Bachelors|SkilledManual|      Yes|   0|       0-1Miles| Europe| 43|          Yes|
|22155|      Married|  Male| 20000|       2|PartialHighSchool|     Clerical|      Yes|   2|      5-10Miles|Pacific| 58|           No|
|19280|      Married|  Male| 20000|       2|   PartialCollege|       Manual|      Yes|   1|       0-1Miles| Europe| 48|          Yes|
|22173|      Married|Female| 30000|       3|       HighSchool|SkilledManual|       No|   2|       1-2Miles|Pacific| 54|          Yes|
|12697|       Single|Female| 90000|       0|        Bachelors| Professional|       No|   4|       10+Miles|Pacific| 36|           No|
|11434|      Married|  Male|170000|       5|   PartialCollege| Professional|      Yes|   4|       0-1Miles| Europe| 55|           No|
|25323|      Married|  Male| 40000|       2|   PartialCollege|     Clerical|      Yes|   1|       1-2Miles| Europe| 35|          Yes|
|23542|       Single|  Male| 60000|       1|   PartialCollege|SkilledManual|       No|   1|       0-1Miles|Pacific| 45|          Yes|
|20870|       Single|Female| 10000|       2|       HighSchool|       Manual|      Yes|   1|       0-1Miles| Europe| 38|          Yes|
|23316|       Single|  Male| 30000|       3|   PartialCollege|     Clerical|       No|   2|       1-2Miles|Pacific| 59|          Yes|
|12610|      Married|Female| 30000|       1|        Bachelors|     Clerical|      Yes|   0|       0-1Miles| Europe| 47|           No|
|27183|       Single|  Male| 40000|       2|   PartialCollege|     Clerical|      Yes|   1|       1-2Miles| Europe| 35|          Yes|
|25940|       Single|  Male| 20000|       2|PartialHighSchool|     Clerical|      Yes|   2|      5-10Miles|Pacific| 55|          Yes|
+-----+-------------+------+------+--------+-----------------+-------------+---------+----+---------------+-------+---+-------------+
only showing top 20 rows

##### 3) Summary

In [8]:
df.summary().show()

+-------+-----------------+-------------+------+-----------------+------------------+-----------------+-------------+---------+------------------+---------------+-------+------------------+-------------+
|summary|               ID|MaritalStatus|Gender|           Income|          Children|        Education|   Occupation|HomeOwner|              Cars|CommuteDistance| Region|               Age|PurchasedBike|
+-------+-----------------+-------------+------+-----------------+------------------+-----------------+-------------+---------+------------------+---------------+-------+------------------+-------------+
|  count|             1000|         1000|  1000|             1000|              1000|             1000|         1000|     1000|              1000|           1000|   1000|              1000|         1000|
|   mean|        19965.992|         null|  null|          56140.0|             1.908|             null|         null|     null|             1.452|           null|   null|             44.19|         null|
| stddev|5347.333948454342|         null|  null|31081.60977920009|1.6260935336505653|             null|         null|     null|1.1247048328165763|           null|   null|11.353537017282449|         null|
|    min|            11000|      Married|Female|            10000|                 0|        Bachelors|     Clerical|       No|                 0|       0-1Miles| Europe|                25|           No|
|    25%|            15287|         null|  null|            30000|                 0|             null|         null|     null|                 1|           null|   null|                35|         null|
|    50%|            19741|         null|  null|            60000|                 2|             null|         null|     null|                 1|           null|   null|                43|         null|
|    75%|            24466|         null|  null|            70000|                 3|             null|         null|     null|                 2|           null|   null|                52|         null|
|    max|            29447|       Single|  Male|           170000|                 5|PartialHighSchool|SkilledManual|      Yes|                 4|      5-10Miles|Pacific|                89|          Yes|
+-------+-----------------+-------------+------+-----------------+------------------+-----------------+-------------+---------+------------------+---------------+-------+------------------+-------------+

##### 4) Mostrar Columnas y filas

In [9]:
df.select(['Gender','Income','Education']).show()

+------+------+-----------------+
|Gender|Income|        Education|
+------+------+-----------------+
|Female| 40000|        Bachelors|
|  Male| 30000|   PartialCollege|
|  Male| 80000|   PartialCollege|
|  Male| 70000|        Bachelors|
|  Male| 30000|        Bachelors|
|Female| 10000|   PartialCollege|
|  Male|160000|       HighSchool|
|  Male| 40000|        Bachelors|
|  Male| 20000|PartialHighSchool|
|  Male| 20000|   PartialCollege|
|Female| 30000|       HighSchool|
|Female| 90000|        Bachelors|
|  Male|170000|   PartialCollege|
|  Male| 40000|   PartialCollege|
|  Male| 60000|   PartialCollege|
|Female| 10000|       HighSchool|
|  Male| 30000|   PartialCollege|
|Female| 30000|        Bachelors|
|  Male| 40000|   PartialCollege|
|  Male| 20000|PartialHighSchool|
+------+------+-----------------+
only showing top 20 rows

##### 5) Mostrar datos a partir de un Criterio

In [10]:
df.filter(df['Children'] > 3).count()

208

In [11]:
df.filter(df['Income'] > 40000).show()

+-----+-------------+------+------+--------+--------------+-------------+---------+----+---------------+-------+---+-------------+
|   ID|MaritalStatus|Gender|Income|Children|     Education|   Occupation|HomeOwner|Cars|CommuteDistance| Region|Age|PurchasedBike|
+-----+-------------+------+------+--------+--------------+-------------+---------+----+---------------+-------+---+-------------+
|14177|      Married|  Male| 80000|       5|PartialCollege| Professional|       No|   2|       2-5Miles| Europe| 60|           No|
|24381|       Single|  Male| 70000|       0|     Bachelors| Professional|      Yes|   1|      5-10Miles|Pacific| 41|          Yes|
|27974|       Single|  Male|160000|       2|    HighSchool|   Management|      Yes|   4|       0-1Miles|Pacific| 33|          Yes|
|12697|       Single|Female| 90000|       0|     Bachelors| Professional|       No|   4|       10+Miles|Pacific| 36|           No|
|11434|      Married|  Male|170000|       5|PartialCollege| Professional|      Yes|   4|       0-1Miles| Europe| 55|           No|
|23542|       Single|  Male| 60000|       1|PartialCollege|SkilledManual|       No|   1|       0-1Miles|Pacific| 45|          Yes|
|21564|       Single|Female| 80000|       0|     Bachelors| Professional|      Yes|   4|       10+Miles|Pacific| 35|           No|
|26412|      Married|Female| 80000|       5|    HighSchool|   Management|       No|   3|      5-10Miles| Europe| 56|           No|
|18283|       Single|Female|100000|       0|     Bachelors| Professional|       No|   1|      5-10Miles|Pacific| 40|           No|
|18299|      Married|  Male| 70000|       5|PartialCollege|SkilledManual|      Yes|   2|      5-10Miles|Pacific| 44|           No|
|18484|       Single|  Male| 80000|       2|    HighSchool|SkilledManual|       No|   2|       1-2Miles|Pacific| 50|          Yes|
|12291|       Single|  Male| 90000|       5|PartialCollege| Professional|       No|   2|       2-5Miles| Europe| 62|          Yes|
|17185|      Married|Female|170000|       4|PartialCollege| Professional|       No|   3|      5-10Miles| Europe| 48|          Yes|
|24466|      Married|Female| 60000|       1|PartialCollege|SkilledManual|      Yes|   1|      5-10Miles|Pacific| 46|          Yes|
|20619|       Single|  Male| 80000|       0|     Bachelors| Professional|       No|   4|       10+Miles|Pacific| 35|           No|
|24871|       Single|Female| 90000|       4|    HighSchool|   Management|       No|   3|      5-10Miles| Europe| 56|           No|
|17319|       Single|Female| 70000|       0|     Bachelors| Professional|       No|   1|      5-10Miles|Pacific| 42|           No|
|28906|      Married|  Male| 80000|       4|    HighSchool| Professional|      Yes|   2|       10+Miles| Europe| 54|           No|
|20567|      Married|  Male|130000|       4|PartialCollege| Professional|       No|   4|      5-10Miles| Europe| 61|          Yes|
|15580|      Married|  Male| 60000|       2|     Bachelors| Professional|      Yes|   1|       2-5Miles|Pacific| 38|          Yes|
+-----+-------------+------+------+--------+--------------+-------------+---------+----+---------------+-------+---+-------------+
only showing top 20 rows

Para saber cuantos datos hay de una categoria

In [12]:
df.groupBy('Children').count().show()

+--------+-----+
|Children|count|
+--------+-----+
|       1|  170|
|       3|  135|
|       5|   81|
|       4|  127|
|       2|  210|
|       0|  277|
+--------+-----+

## Metodos no vistos en clases

######  1) Para saber cuantos valores nulos hay por columna, se realiza conteo de los nulos

In [13]:
df_null = df.select(*(F.sum(F.col(c).isNull().cast('integer')).alias(c) for c in df.columns)).toPandas()
df_null

,ID,MaritalStatus,Gender,Income,Children,Education,Occupation,HomeOwner,Cars,CommuteDistance,Region,Age,PurchasedBike
0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
df_select1 = df.columns[1:]
df_select2 = df.columns[1:-1]

###### 2) Se obtiene la estadistica descriptiva y se hace una transposicion de las columnas, el motivo es para que las etiquetas queden en las filas y los valores columnados para una mejor apreciacion.

In [15]:
df_select1 = df.columns[1:]
df_describe = df.select([c for c in df_select1]).describe().toPandas().transpose()
df_describe

,0,1,2,3,4
summary,count,mean,stddev,min,max
MaritalStatus,1000,None,None,Married,Single
Gender,1000,None,None,Female,Male
Income,1000,56140.0,31081.60977920009,10000,170000
Children,1000,1.908,1.6260935336505653,0,5
Education,1000,None,None,Bachelors,PartialHighSchool
Occupation,1000,None,None,Clerical,SkilledManual
HomeOwner,1000,None,None,No,Yes
Cars,1000,1.452,1.1247048328165763,0,4
CommuteDistance,1000,None,None,0-1Miles,5-10Miles
Region,1000,None,None,Europe,Pacific
Age,1000,44.19,11.353537017282449,25,89
PurchasedBike,1000,None,None,No,Yes

#### 3) Mostrar los nombres de las columnas de un DataFrame:

In [16]:
df.columns

['ID',
 'MaritalStatus',
 'Gender',
 'Income',
 'Children',
 'Education',
 'Occupation',
 'HomeOwner',
 'Cars',
 'CommuteDistance',
 'Region',
 'Age',
 'PurchasedBike']

######  4) Primeros 10 valores del dataset y se formatean a tabla en formato de pandas.
Sirve para darle una mejor visualizacon a los datos

In [17]:
df_dataset = df.limit(10)
df_dataset.toPandas()

,ID,MaritalStatus,Gender,Income,Children,Education,Occupation,HomeOwner,Cars,CommuteDistance,Region,Age,PurchasedBike
0,12496,Married,Female,40000,1,Bachelors,SkilledManual,Yes,0,0-1Miles,Europe,42,No
1,24107,Married,Male,30000,3,PartialCollege,Clerical,Yes,1,0-1Miles,Europe,43,No
2,14177,Married,Male,80000,5,PartialCollege,Professional,No,2,2-5Miles,Europe,60,No
3,24381,Single,Male,70000,0,Bachelors,Professional,Yes,1,5-10Miles,Pacific,41,Yes
4,25597,Single,Male,30000,0,Bachelors,Clerical,No,0,0-1Miles,Europe,36,Yes
5,13507,Married,Female,10000,2,PartialCollege,Manual,Yes,0,1-2Miles,Europe,50,No
6,27974,Single,Male,160000,2,HighSchool,Management,Yes,4,0-1Miles,Pacific,33,Yes
7,19364,Married,Male,40000,1,Bachelors,SkilledManual,Yes,0,0-1Miles,Europe,43,Yes
8,22155,Married,Male,20000,2,PartialHighSchool,Clerical,Yes,2,5-10Miles,Pacific,58,No
9,19280,Married,Male,20000,2,PartialCollege,Manual,Yes,1,0-1Miles,Europe,48,Yes

###### Detección de valores unicos.
Esta forma recorre el dataset variable por variable y detecta los valores unicos en cada una

In [18]:
for col in df_select1:
    col_count = df.select(col).distinct().count()
    print('variable {0} , count {1}'.format(col, col_count))

variable MaritalStatus , count 2
variable Gender , count 2
variable Income , count 16
variable Children , count 6
variable Education , count 5
variable Occupation , count 5
variable HomeOwner , count 2
variable Cars , count 5
variable CommuteDistance , count 5
variable Region , count 3
variable Age , count 53
variable PurchasedBike , count 2